html, body {
  /*font-family: 'HankenBook';*/
  margin: 0;
  height: 100%;
}
/*#header {
  padding:20px 20px 0px;
  height: 80px;
}*/
@media only screen and (max-width: 500px) {
  #header h1 {
    font-size: 2rem;
  }
}
#map {
  /*height: calc(100% - 80px);*/
  height: 100%;
  /*padding: 1em;*/
  font: inherit;
}

.sprite {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  display: inline-block;
}

/*Text shortcuts*/
.bold  {
  font-weight: bold;
}
.italic  {
  font-style: italic;
}
.darkGrey  {
  color: #4e4e4e;
}
.lightGrey  {
  color: #aeaeae;
}
.uppercase  {
  text-transform: uppercase;
}

/*Icon shortcuts*/
.left-icon {
  margin-right: 15px;
}

/*Sidebar custom style*/
.sidebar .sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
  background-color: #75a56a;
}
.sidebar .row {
  margin-bottom: 15px;
}
.sidebar .sidebar-header {
  background-color: #75a56a;
}
.sidebar .title-row {
  display: inline-flex;
}
/*.sidebar .data-title {
  padding-top: 5px;
}*/
.sidebar ul {
  padding: 0;
}
.sidebar .pane-content li {
  list-style-type: none;
  margin-bottom: 5px;
}
.sidebar .data-list-key {
  font-weight: bold;
}
.sidebar .data-list-value {
  padding: 20px;
}

/*.sidebar .layer-list-item {
 cursor: pointer;
}
.sidebar .layer-list-item:hover {
  font-weight: bold
}
.sidebar .layer-list-item:hover .layer-toggle {
  font-weight: bold
}*/
.sidebar .layer-list-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: bottom;
}
.sidebar .layer-toggle {
  cursor: pointer;
  float: right;
}
.sidebar .layer-toggle:hover, .sidebar .layer-toggle:hover:parent {
  font-weight: bold
}